/* Scss Document */
* {
  box-sizing: border-box;
  text-align: -webkit-center; }

.row::after {
  content: "";
  clear: both;
  display: table; }

.row {
  width: 75%; }

h2 {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  color: #4d4d4d; }

.columns {
  float: left;
  width: 33.3333333333%;
  padding: 5px; }

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

ul {
  list-style-type: none; }
  ul li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px; }

.price .header {
  background-color: #293a80;
  color: #ffffff;
  font-size: 26px;
  font-weight: 500;
  line-height: 50px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; }

.button {
  background-color: #293a80;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px; }

.grey {
  color: #4d4d4d;
  background-color: #f4f4f4;
  font-size: 25px;
  font-weight: 500;
  line-height: 50px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; }

.button:hover {
  background-color: #010038;
  /*box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);*/ }

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

@media only screen and (min-width: 374px) and (max-width: 800px) {
  .columns {
    width: 100%; } }
